@model Model.VMLogin

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<h2 class="mid">Login</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal mid">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-6">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email", style = "width:100%"} })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mid2">
            @*@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password", type = "password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-10">
                <LABEL>Belum memiliki akun? Ayo <a href="Signup">daftar</a>!!</LABEL>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<style>
    .mid {
        width: 50%; 
        height: auto;
        margin: 0 auto;
        padding: 10px;
        position: relative;
    }

    .mid2 {
        margin-left: auto;
        margin-right: auto;
    }
</style>
